content: none
source https://nuget.org/api/v2
source http://nuget.aleagpu.com/nuget
source http://beta.aleagpu.com/nuget
source http://beta.aleagpu.com/nuget
nuget Alea.CudaToolkit80 1.0.0-beta4 beta
nuget CSMatIO
nuget Fody 1.30.0-beta01
nuget FodyCecil 1.30.0-beta01
nuget FSharp.Charting
nuget FSPowerPack.Community
nuget FsUnit
nuget ILMerge.Tools
nuget Mono.Posix
nuget Nuget.CommandLine
nuget NUnit 2.6.4
nuget openTK
nuget SharpDX
nuget SharpDX.Desktop
nuget SharpDX.Direct3D9
nuget SharpDX.Mathematics
nuget SharpZipLib
nuget Templatus
nuget FAKE
nuget Alea.CudaToolkit
