<?xml version="1.0" encoding="utf-8"?>
<HybridizerMetaConfigFile xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Configuration>
    <ReconstructLoops>false</ReconstructLoops>
  </Configuration>
  <ConfigFile HybridType="" DllFullPath="C:\Github\RoboCup2020\C#\ClassLibrary1\bin\x64\Debug\TestGPU.dll" PdbFullPath="C:\Github\RoboCup2020\C#\ClassLibrary1\bin\x64\Debug\TestGPU.pdb" ResultFileName="result.xml" GenerateLineInformation="true" UseFunctionPointers="true" GenerateAllFile="true" GenerateHiddenStubs="true" UseHybridArrays="false" EnableExceptions="false" Features="" DelegateSupport="false" LinesPerFile="0" HybridizerJitterServicePath="C:\Program Files\Altimesh\Hybridizer Essentials\bin\Hybridizer.PTXJitterService.10.1.exe" HybridizerJitterServiceOptions="--gpu-architecture=auto;-G;--relocatable-device-code=false;-lineinfo;--std=c++14;-DNO_EXCEPTION">
    <TraceConfig>
      <MaxStackDumps>100</MaxStackDumps>
      <Enabled>false</Enabled>
      <StackOverflowThreshold>200</StackOverflowThreshold>
      <Level>2</Level>
    </TraceConfig>
    <HybridFlavor FlavorName="CUDA" GenerateCWrapper="false" BuiltInFileNames="C:\Program Files\Altimesh\Hybridizer Essentials\include\hybridizer.cuda.builtins;" />
    <HybridElements HybridType="TestGPU.TestGPU">
      <HybridizedMethod MethodName="ParallelCalculateHeatMap_Cuda" MethodRename="run" ForceEntryPoint="true">
        <ParameterTypes>
          <string>System.String</string>
          <string>System.Double[,]</string>
          <string>System.Int32</string>
          <string>System.Int32</string>
          <string>System.Single</string>
          <string>System.Single</string>
          <string>System.Single</string>
          <string>System.Single</string>
        </ParameterTypes>
        <GenericParameters />
      </HybridizedMethod>
      <HybridFlavor FlavorName="CUDA" OutputFileName="TestGPU.TestGPU.cu" GenerateCWrapper="true" BuiltInFileNames="C:\Program Files\Altimesh\Hybridizer Essentials\include\hybridizer.cuda.builtins;" />
    </HybridElements>
    <DisplayLicenseDetails>false</DisplayLicenseDetails>
  </ConfigFile>
</HybridizerMetaConfigFile>